<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DHL | files</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="center container">

      <div class="row">
        <!-- <div class="col s12 m6"> -->
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Upload File</span>
              <form class="" action="/" method="post" enctype="multipart/form-data">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>choose excel file</span>
                    <input type="file" name="upload_file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate"  type="text" required>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="waves-effect waves-light btn right" type="submit" value="upload file">
                  </div>
                </div>
              </form>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>


    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
